.search-result-dropdown-menu {
  position: absolute;
  z-index: 100;
  display: block;
  right: 0;
  left: inherit;
  top: 100%;
  border-radius: 4px;
  margin: 6px 0 0;
  padding: 0;
  text-align: left;
  height: auto;
  background: transparent;
  border: none;
  max-width: 600px;
  min-width: 500px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1024px) {
  .search-result-dropdown-menu {
    position: absolute;
    min-width: calc(100vw - 3.75rem);
    left: 0;
    right: auto;
  }
}

.search-result-dataset {
  position: relative;
  border: 1px solid #d9d9d9;
  background: #fff;
  border-radius: 4px;
  overflow: auto;
  padding: 8px;
  max-height: calc(100vh - 5.25rem);
  line-height: 1.5;
}

.search-result-item {
  display: flex;
  margin-top: 0.5rem;
}

.search-result-component-header {
  color: #1e1e1e;
  border-bottom: 1px solid #ddd;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.search-result-document-title {
  width: 33%;
  border-right: 1px solid #ddd;
  color: #02060c;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  text-align: right;
  position: relative;
  word-wrap: break-word;
}

.search-result-document-hit {
  flex: 1;
  font-size: 0.75rem;
  color: #63676d;
}

.search-result-document-hit > a {
  color: inherit;
  display: block;
  padding: 0.55rem 0.25rem 0.55rem 0.75rem;
}

.search-result-document-hit > a:hover {
  background-color: rgba(69, 142, 225, 0.05);
}

.search-result-document-hit .search-result-highlight {
  color: #174d8c;
  background: rgba(143, 187, 237, 0.1);
  padding: 0.1em 0.05em;
  font-weight: 500;
}

.search-result-document-hit .search-result-section-title {
  color: #303030;
  font-weight: 500;
  font-size: 1.05em;
  margin-bottom: 0.25em;
}

#search-input {
  padding: 0.25em;
}

#search-input:focus {
  outline: none;
}

#search-field {
  display: flex;
}

#search-field .filter {
  background: #fff linear-gradient(180deg,#e1e1e1 0,#e1e1e1) no-repeat 0/1px 50%;
  border: 1px solid #e1e1e1;
  border-left: none;
  border-radius: 0 0.1em 0.1em 0;
  color: #5d5d5d;
  cursor: pointer;
  font-size: .875em;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  white-space: nowrap;
  overflow: hidden;
}

#search-field.has-filter > input {
  border-right: none;
  border-radius: 0.1em 0 0 0.1em;
}
